ANTHROPIC_API_KEY=your-anthropic-api-key
OPENAI_API_KEY=your-openai-api-key
PORT=4000
PRECISELY_API_KEY=mDbNx5kNFqvWaYGA0Gw8gPDA1F6zFgxP
PRECISELY_API_SECRET=dQOO42U2AHu53Joo
CORS_ORIGIN=http://localhost:5173
